*{
    color: #00ff00;
    background-color: black;
}
.namePlayer
{
    font-weight: bold;
}
.doorContainer{
    display: flex;
    justify-content: center;
    &__one{
        display: flex;
        flex-direction: column;
        
        &>pre{
            font-size: 8px;
        }

    }
    &__two{
        display: flex;
        flex-direction: column;

        &>pre{
            font-size: 8px;
        }

    }
}
.doorText{
    text-align: center;
}
.merchantContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    &>*{
        font-size: larger;
    }
}
//page intro
.indexMain
{
    display: flex;
    flex-flow: column;
    align-items: center;
}
//page intro
.introMain
{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 2% ;
    .introText
     {
        border: 2px #00ff00 solid;
        padding: 2%;
     }
     
    }
    .btnIntro
    {
       width: 300px;
       height: 50px;
       font-size: 1.5em;
    }