*{
    color: #00ff00;
    background-color: black;
}
.doorContainer{
    display: flex;
    justify-content: center;
    &__one{
        display: flex;
        flex-direction: column;
        
        &>pre{
            font-size: 8px;
        }

    }
    &__two{
        display: flex;
        flex-direction: column;

        &>pre{
            font-size: 8px;
        }

    }
}
.doorText{
    text-align: center;
}
.merchantContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    &>*{
        font-size: larger;
    }
}